.main{
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 50px;
}
.change-password-form{
    max-width: 70%;
}
.btn-center{
    text-align: center;
    margin:0 auto;
}
.change-info-form{
}
.pol-p{
    margin-bottom: 20px;
}
.req-p{
    font-size: small;
}
.table-img{
    width: 70px;
    height: 70px;
    object-fit: contain;
}
.table-title:hover{
    text-decoration: underline;
}
.table-title:active{
    color:red;
}
.table-title {
    font-weight: lighter;
}