<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>

    <link rel="stylesheet" type="text/css" href="/css/adminAddProduct.css"/>

    <style>
        .main{
            margin: 0 auto;
        }
        .btns{
            text-align: center;
            margin:0 auto;
        }
        select{
            display: flex;
        }
    </style>
</head>

<bodys>
    <header>
        <%- include('../partials/header'); %>
    </header>

    <main class="container">
        <div class="main">
            <h5 class="text-center">Добавить товар</h5>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s8">
                            <input required minlength="3" id="name" type="text" class="validate">
                            <label for="name">Название</label>
                        </div>
                        <div class="input-field col s4">
                            <input required id="price" type="text" class="validate">
                            <label for="price">Цена, руб.</label>
                        </div>
                        <div class="col s6">
                            <select required class="input-field">
                                <option value="" disabled selected>Выберите тип переплета</option>
                                <option value="solid">Твердый</option>
                                <option value="soft">Мягкий</option>
                              </select>
                        </div>
                        <div class="col s6">
                            <select required class="input-field">
                                <option value="" disabled selected>Выберите Издательство</option>
                                <option value="marvel">Marvel</option>
                                <option value="dc">DC</option>
                                <option value="other">Другое</option>
                              </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="description" type="text" class="input-field col s12"></textarea>
                            <label for="description">Описание</label>
                        </div>
                    </div>

                    <div class="row">
                        <input class="col s12" type="file" accept="image/*">

                    </div>

                    <div class="row col s12 btns">
                            <button class="col s5 btn darken-2 green">Создать</button>
                            <button class="col s5 btn darken-2 red">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <script>

    </script>
</body>

</html>