<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header', {user, admin}); %>
    </header>

    <main>
        <h5 class="text-center">Понравившиеся</h5>

        <div class="container">
            <div class="row">
                <% userFavouriteProducts.forEach(function(favourtite){ %>
                    <%- include('../partials/comicsCard', {comic: favourtite}); %>
                <% }); %>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <script src="/js/frontLike.js"></script>
</body>

</html>