<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head'); %>

    <link rel="stylesheet" type="text/css" href="css/login.css">

    <!-- <style >
        
    </style> -->
</head>

<body>
    <header>
        <%- include('../partials/header', {admin, user}); %>
    </header>

    <main>
        <div class="container">
            <h5>&nbsp;</h5>
            <h5 class="text-center">Спасибо за покупку!</h5>

            <h6>&nbsp;</h6>

            <div  class="text-center">
                <h6 class="text-center"><a class="text-center" href="/" >Вернуться на главную</a></h6>
            </div>

            <h1>&nbsp;</h1>
            <h1>&nbsp;</h1>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>