<ul class="collapsible expandable">
    <li>
        <div class="collapsible-header text-center">Фильтры</div>
        <div class="collapsible-body">
            <form action="#">
                <div class="">
                    <div class="">Цена, руб.</div>
                    <div class="input-field inline">
                        <input data-meta-name="FilterPriceGroup__input-min" name="input-min" class="" autocomplete="off"
                            type="numeric" pattern="[0-9 ]*" value="1">
                        <span class="">-</span>
                        <input data-meta-name="FilterPriceGroup__input-max" name="input-max" class="" autocomplete="off"
                            type="numeric" pattern="[0-9 ]*" value="10000">
                    </div>
                </div>
        
                <div>
                    <p>Переплет</p>
                    <ul>
                        <li>
                            <label>
                                <input type="checkbox" class="filled-in" />
                                <span>Твердый</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" class="filled-in" />
                                <span>Мягкий</span>
                            </label>
                        </li>
                    </ul>
                </div>
        
                <button type="reset" class="btn-outline btn">Сбросить</button>
            </form>

        </div>
    </li>
</ul>