<footer class="page-footer blue">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">О нас</h5>
                <p class="grey-text text-lighten-4">Магазин комиксов.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Мини-меню</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="/">Главная</a></li>
                    <li><a class="grey-text text-lighten-3" href="/catalog">Каталог</a></li>
                    <li><a class="grey-text text-lighten-3" href="/login">Войти</a></li>
                    <li><a class="grey-text text-lighten-3" href="/user">Личный кабинет</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2021 Kireev Konstantin All rights reserved.
            <!-- <a class="grey-text text-lighten-4 right" href="/">More</a> -->
        </div>
    </div>
</footer>