<div>
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="/catalog?publisher=Marvel">Марвел</a></li>
        <li><a href="/catalog?publisher=DC">DC</a></li>
        <li><a href="/catalog?publisher=%D0%94%D1%80%D1%83%D0%B3%D0%BE%D0%B5">Другие</a></li>
        <li><a href="/catalog">Все</a></li>
    </ul>

    <ul id="dropdown2" class="dropdown-content">
        <li><a href="/adminProducts">Товары</a></li>
        <li><a href="/adminAddProduct">Добавить товар</a></li>
        <li><a href="/adminUsers">Пользовате-ли</a></li>
        <li><a href="/adminBuys">Покупки</a></li>
    </ul>

    <nav>
        <div class="nav-wrapper navbar blue">
            <!-- <a href="/" class="brand-logo">Comix</a> -->
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li>
                    <a href="/" class="logo">
                        <h5>Комикисы</h5>
                    </a>
                </li>
                <li>
                    <a href="/">Главная</a>
                </li>
                <li>
                    <a class="dropdown-trigger" href="#!" data-target="dropdown1">Каталог<i
                        class="material-icons right">arrow_drop_down</i></a>
                </li>
                <li>
                    <a href="/userPage">Личный кабинет</a>
                </li>
                <% if (admin){ %> 
                    <li>
                        <a class="dropdown-trigger" href="#!" data-target="dropdown2">Админ<i
                            class="material-icons right">arrow_drop_down</i></a>
                    </li>
                <% } %> 
            </ul>

            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="/favourites">Избранное</a>
                </li>
                <li>
                    <a href="/cart">Корзина</a>
                </li>
                <li>|</li>
                <% if(user) { %> 
                    <li>
                        <a href="user/logout">Выйти</a>
                    </li>
                <% } else { %> 
                    <li>
                        <a href="/login">Войти</a>
                    </li>
                <% } %> 
                
            </ul>
        </div>
    </nav>
</div>