<div>
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="/catalog">Марвел</a></li>
        <li><a href="/catalog">DC</a></li>
        <li><a href="/catalog">Другие</a></li>
        <li><a href="/catalog">Все</a></li>
    </ul>

    <ul id="dropdown2" class="dropdown-content">
        <li><a href="/adminProducts">Товары</a></li>
        <li><a href="/adminAddProduct">Добавить товар</a></li>
        <li><a href="/adminUsers">Пользовате-ли</a></li>
        <li><a href="/adminBuys">Покупки</a></li>
    </ul>

    <nav>
        <div class="nav-wrapper navbar blue">
            <!-- <a href="/" class="brand-logo">Comix</a> -->
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li>
                    <a href="/" class="logo">
                        <h5>Комикисы</h5>
                    </a>
                </li>
                <li>
                    <a href="/">Главная</a>
                </li>
                <li>
                    <a class="dropdown-trigger" href="#!" data-target="dropdown1">Каталог<i
                        class="material-icons right">arrow_drop_down</i></a>
                </li>
                <li>
                    <a href="/user">Личный кабинет</a>
                </li>
                <li>
                    <a class="dropdown-trigger" href="#!" data-target="dropdown2">Админ<i
                        class="material-icons right">arrow_drop_down</i></a>
                </li>
            </ul>

            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="/favourites">Избранное</a>
                </li>
                <li>
                    <a href="/cart">Корзина<sup class="sup">100</sup></a>
                </li>
                <li>|</li>
                <li>
                    <a href="/login">Войти</a>
                </li>
                <li>
                    <a href="/login">Выйти</a>
                </li>
            </ul>
        </div>
    </nav>
</div>